{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ title }}</h1>
            <p class="lead text-body-secondary">Список авторів, книжки яких ви можете у нас прочитати</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for user in users %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }} {{ user.email }}" class="card-img-top img-fluid" style="height: 350px; width: 350px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'img/default_img.jpg' %}" alt="{{ user.username }} {{ user.email }}" class="card-img-top img-fluid" style="height: 350px; width: 350px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                        <p class="card-text">Joined: {{ user.date_joined|date:'d.m.Y' }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Тут можуть бути дії, пов'язані з автором -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
