<!--user_details.html-->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="my-4">User info</h1>
            <ul class="list-group">

            <li class="list-group-item">
                <div class="media">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="{{ user.username }} {{ user.email }}" class="mr-3 rounded-circle" style="height: 100px; width: 100px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'img/user_img/default_user.jpg' %}" alt="{{ user.username }} {{ user.email }}" class="mr-3 rounded-circle" style="height: 100px; width: 100px; object-fit: cover;">
                    {% endif %}
                    <div class="media-body">
                        <a href="{% url 'custom_auth:user_details' pk=user.id %}">
                        <h5 class="mt-0">{{ user.username }}</h5>
                        </a>
                        <h6 class="mt-0">{{ user.email}}</h6>
                        <p> Date joined: {{ user.date_joined|date:'d.m.Y' }}</p>
                        <p> ID = : {{ user.id }}</p>
                    </div>
                </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}

