{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="container">
    <h1 class="mt-5">Comments</h1>
    <div class="row mt-3">
      <div class="col-md-8 mx-auto">
        <ul class="list-group">
          {% for com in comments %}
            <li class="list-group-item">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user">
                    <a href="{% url 'filtered_user_list' username=com.user.username %}">
                  <strong>{{ com.user }}</strong>
                    </a>
                </div>
                <div class="created_at text-muted">
                  {{ com.created_at|date:"d.m.Y H:i" }}
                </div>
              </div>
              <div class="content mt-2">{{ com.content }}</div>
            </li>
          {% endfor %}
        </ul>
        <li class="list-group-item">
          <form method="post" action="{% url 'add_comment' %}">
              {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'created_at' %}
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Please enter {{ field.label }}.
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <hr class="my-4">
              <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
          </form>
        </li>
      </div>
    </div>
  </div>
{% endblock %}
